<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bot</title>
    <link rel="stylesheet" href="css/bot.css">
    <script type="application/javascript">
      const animationSyllableDuration = <%= animationSyllableDuration %>;
      const animationSyllableRamp = <%= animationSyllableRamp %>;
      const animationSyllableDelay = <%= animationSyllableDelay %>;
      const animationWordDelay = <%= animationWordDelay %>;
      const animationSentanceDelay = <%= animationSentanceDelay %>;
    </script>

    <div 
      id="fullscreen-container"
      class="fullscreen-container"
      style="display: none;"
    >
      <img 
        id="fullscreen-image"
        class="fullscreen-image"
        src="#" 
      />
    </div>

    <script src="js/libs/socket.io.min.js"></script>
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/svg.min.js"></script>
    <script src="js/bot.js"></script>
  </head>
  <body>
  </body>
</html>